body,html
{
    height:100%;
}
.bg
{
    background-image:url(Images/Background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body
{
    background-color: dimgrey;
}

.bio
{
    font-size: 3.8vw;
    color: darkgray;
    font-family:'VT323',monospace;
    position: absolute;
    left:46%;
    top:5%;
    cursor:pointer;
}

.resume
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: darkgray;
    font-size:3.7vw;
    top:1%;
    right:8%;
    cursor: pointer;
}
.contact
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: darkgray;
    font-size:3.7vw;
    top:1%;
    left:15%;
    cursor: pointer;
}
.Homepg
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: darkgray;
    font-size:3.7vw;
    top:1%;
    right:22%;
    cursor: pointer;
    
}
.reply1
{
font-family: 'VT323',monospace;
color: darkgray;
font-size: 4vw;
position: absolute;
top: 30%;
left:20%;
}
.reply2
{
font-family:'VT323',monospace;
color: darkgray;
font-size: 4vw;
position: absolute;
top: 30%;
left: 70%;
}
.reply3
{
    font-family:'VT323',monospace;
    color: darkgray;
    font-size: 4vw;
    position: absolute;
    top: 60%;
    left: 45%;
}
.submit
{
    position: absolute;
    font-size: 1vw;
    cursor: pointer;
    top:97%;
    left: 50%;
}