body,html
{
    height:100%;
}
.bg
{
    background-image:url(Images/Background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav-width
{
    width:200px;
}
site-width
{
    max-width: 4000px;
}
.Homepg
{
    font-size: 60px;
    color: white;
    font-family:'VT323',monospace;
    position: absolute;
    left:50%;
    top:5%;
}
.CImage
{
    width:275px;
    position: Absolute;
    top:12%;
    left: 31%;
}

.MImage
{
    width: 275px;
    position: absolute;
    top:12%;
    left:15%;
}

.ShirtIm
{
    width:275px;
    position: absolute;
    top: 12%;
    left:47%;
}

.Zoe
{
    width: 520px;
    position: absolute;
    top: 12%;
    left:63%;
}
.Roe
{
    width: 290px;
    position: absolute;
    top:55%;
    left:45%;

}
.MaPage
{
    width: 280px;
    position: absolute;
    top:56%;
    left:30.25%;
}
.ShipBuddy
{
    width:279.19px;
    position: absolute;
    bottom:0.01%;
    right:15%;
}
.Liileek
{
width:260px;
position: absolute;
top:57%;
left:16.58%;
}

body
{
    background-color: dimgrey;
}