body,html
{
    height:100%;
}
.bg
{
    background-image:url(Images/Background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pword
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: darkgray;
    font-size:3.7vw;
    bottom:45%;
    left:40%
}
.contact
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: darkgray;
    font-size:3.7vw;
    top:1%;
    left:6%;
    cursor: pointer;
}
.bio
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: darkgray;
    font-size:3.7vw;
    top:1%;
    right:22%;
    cursor: pointer;
}
.Name
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: white;
    font-size:3.7vw;
    top:0;
    right: 35%;
}
.resume
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: darkgray;
    font-size:3.7vw;
    top:1%;
    right:8%;
    cursor: pointer;
}
nav-width
{
    width:200px;
}
site-width
{
    max-width: 4000px;
}
.Homepg
{
    font-size: 3.8vw;
    color: darkgray;
    font-family:'VT323',monospace;
    position: absolute;
    left:46%;
    top:5%;
    cursor:pointer;
}
.CImage
{
    width:14.4%;
    position: Absolute;
    top:12%;
    left: 31%;
}
.arrow
{
 width:3%;
 position: absolute;
 left:50%;
 
 -webkit-transform:rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 transform: rotate(180deg);
 animation-name: move-down;
 animation-duration: 3s;
 animation-fill-mode: forwards;
 animation-timing-function: step-end;
 animation-iteration-count: infinite;
 cursor: pointer;
}
@keyframes move-down
{
    0% {left: 50%; bottom:3%; border-radius: 0px;}
    25%{left: 50%; bottom:2.5%; border-radius: 0px;}
    50%{left:50%;bottom:2%;border-radius: 0%;}
    70%{left: 50%;bottom:1.5%;border-radius: 0%;}
    85%{left:50%;bottom:1%;border-radius: 0%;}
    100%{left: 50%;bottom: 0%;border-radius: 0%;} 
}

.MImage
{
    width: 14.4%;
    position: absolute;
    top:12%;
    left:15%;
}

.ShirtIm
{
    width:14.4%;
    position: absolute;
    top: 12%;
    left:47%;
}

.Zoe
{
    width: 20%;
    position: absolute;
    top: 12%;
    left:63%;
}
.Roe
{
    width: 15.2%;
    position: absolute;
    top:55%;
    left:45%;

}
.MaPage
{
    width: 14.6%;
    position: absolute;
    top:56%;
    left:30.37%;
}
.ShipBuddy
{
    width:22%;
    position: absolute;
    bottom:3%;
    right:16%;
}
.Liileek
{
width:14%;
position: absolute;
top:57%;
left:16.4%;
}

body
{
    background-color: dimgrey;
}