
body,html
{
    height:100%;
}
.bg
{
    background-image:url(Images/Background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bro
{
    position: absolute;
    width: 17%;
    top: 17%;
    left: 40%;
}
.flawda
{
width: 11%;
position: absolute;
top: 53%;
left:28.4%;
}
.scuf
{
    width:20%;
    position: absolute;
    left: 40%;
    top:73%;

}
.gfuel
{
    width: 22%;
    position: absolute;
    top:36.25%;
    left:62%;
}
.nike
{
    width:17%;
    position: absolute;
    top: 16%;
    left: 63%;
}

.quhris
{
width:25%;
position: absolute;
top: 17%;
left:12%;
}
.roe
{
    width:14.5%;
    position: absolute;
    top: 53%;
    left:12%;
}
.EE
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: darkgray;
    font-size:2.4vw;
    bottom:0;
    right:1.2%;
}
.contact
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: darkgray;
    font-size:3.7vw;
    top:1%;
    left:6%;
    cursor: pointer;
}
.bio
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: darkgray;
    font-size:3.7vw;
    top:1%;
    right:22%;
    cursor: pointer;
}
.resume
{
    font-family: 'VT323',monospace;
    position: absolute;
    color: darkgray;
    font-size:3.7vw;
    top:1%;
    right:8%;
    cursor: pointer;
}
body
{
    background-color: dimgrey;
}
.arrow
{
 width: 3%;
 position: absolute;
 left:50%;
 animation-name: move-up;
 animation-duration: 3s;
 animation-fill-mode: forwards;
 animation-timing-function: step-end;
 animation-iteration-count: infinite;
 cursor: pointer;
}
@keyframes move-up
{
    0% {left: 50%; top:3%; border-radius: 0px;}
    25%{left: 50%; top:2.5%; border-radius: 0px;}
    70%{left: 50%;top:1.5%;border-radius: 0%;}
    85%{left:50%;top:1%;border-radius: 0%;}
    100%{left: 50%;top: 0%;border-radius: 0%;} 
}
